<!doctype html>
<html class="supports-no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

 {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
{% endif %}


  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: {{ 'homepage.map.address_error' | t | json }},
        addressNoResults: {{ 'homepage.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'homepage.map.address_query_limit_html' | t | json }},
        authError: {{ 'homepage.map.auth_error_html' | t | json }}
      }
    }
  </script>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {{ 'jquery-1.11.0.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

  <style>

    {% if settings.hide_card_price %}
   .product__prices {
     display: none;
   }
     {% endif %}

      {% if settings.hide_card_title %}
   .product__title  {
     display: none;
   }
     {% endif %}
    
.product__prices, .product__vendor, .product__title {
   text-align: {{ settings.card_text_position }} !important;
     
}
    
     {% if settings.on_card_glow %}
    .product__image {
      overflow: inherit !important;
      filter: drop-shadow(0px {{ settings.card_glow_yaxis }}px {{ settings.card_glow_size }}px {{ settings.card_glow_color }});
  }
  {% endif %}

.site-nav {
  position: relative;
}
    footer {
  position: relative;Ft
}

    .site-wrapper  {
  position: relative;
}

      {% if settings.enable_custom_cursor %}

       
    
    html, body, .wrapper, .gradient, .list-menu__item, button, label, .header__icon {

 cursor: url('{{ settings.cursor_image | img_url: '40x40' }}') 17 17, auto;

        }

        {% endif %}

    {% if settings.enable_custom_font %}
@font-face {
  font-family: '{{ settings.custom_font_name_heading }}';
  src: url('{{ settings.custom_font_url_heading }}') format('woff2');
}
@font-face {
  font-family: '{{ settings.custom_font_name_regular }}';
  src: url('{{ settings.custom_font_url_regular }}') format('woff2');
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .product__title, .site-nav__link, .enter-page__link {
  font-family: '{{ settings.custom_font_name_heading }}' !important;
}
 html, body, span, p, input, .product__prices, .announcement-bar__message span   {
  font-family: '{{ settings.custom_font_name_regular }}' !important;
}

{% endif %}
  
  </style>

    
  
  {% if template == 'index' %}
    {% section 'enter-page' %}
  {% endif %}
  
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | handle }}" style=" position: relative;">
  
 {% section "website-background" %}

  
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>


  
  {% section "header" %}

    {% comment %}
    <hr class="small--hide hr--small">
    {% endcomment %}

  <div class="site-wrapper">

    <div class="grid">

      {% section "timendate" %}
      
      {% section "sidebar" %}

      <main class="main-content grid__item medium-up--four-fifths" id="MainContent" role="main">
        {% unless template.name == 'index' %}
          <hr class="hr--border-top small--hide">
        {% endunless %}
        {% if settings.show_breadcrumb_nav and template.name != 'index' %}
          {% include 'breadcrumb-nav' %}
        {% endif %}
        {{ content_for_layout }}
      </main>

    </div>
    
    <hr>
 

    {% section "footer" %}

  </div>

  {% if template.name == 'product' or template.name == 'index' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
      theme.productSingleObject = {{ product | json }};
    </script>
  {% endif %}

  {{ 'theme.js' | asset_url | script_tag }}

   {% section 'webexp-popup' %}
  
   {% section "audio-player" %}

</body>
</html>
