{% if section.settings.title != blank %}
  <h2>{{ section.settings.title | escape }}</h2>
{% endif %}

{% case section.settings.grid %}
  {% when 2 %}
    {%- assign grid_item_width = 'medium-up--one-half' -%}
  {% when 3 %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
  {% when 4 %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
  {% when 5 %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% else %}
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
{% endcase %}

<div class="grid grid--uniform">
  {% for block in section.blocks limit: section.blocks.size %}
    {%- assign collection = collections[block.settings.collection] -%}
    
    {% assign collection_image = collection.image %}
    {% assign collection_title = collection.title | escape %}

    <div class="grid__item {{ grid_item_width }}">
      <a href="{{ collection.url }}" class="collection-grid-item{% if collection_image == blank %} collection-grid-item--no-image{% endif %}">
        <div class="collection-grid-item__wrapper">
          {% if collection_image != blank %}
            <div class="collection-grid-item__image" style="background-image: url({{ collection_image | img_url: '1024x1024' }});"></div>
            <div class="collection-grid-item__title-wrapper">
              <h3 class="collection-grid-item__title">{{ collection_title }}</h3>
            </div>
          {% else %}
            <div class="collection-grid-item__bg" style="background-color: {{ settings.color_background }};">
              <div class="collection-grid-item__title-wrapper">
                <h3 class="collection-grid-item__title">{{ collection_title }}</h3>
              </div>
            </div>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% if section.blocks.size == 0 %}
  <div class="placeholder-noblocks">
    {{ 'homepage.onboarding.no_content' | t }}
  </div>
{% endif %}

{% schema %}
{
  "name": {
    "de": "Kategorien-Liste",
    "en": "Collection list",
    "es": "Lista de colecciones",
    "fr": "Page des collections",
    "it": "Elenco delle collezioni",
    "ja": "コレクションリスト",
    "pt-BR": "Lista de coleções"
  },
  "class": "index-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fr": "Page de liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "pt-BR": "Lista de coleções"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fr": "Collections par rangée",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "pt-BR": "Coleções por linha"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      },
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": {
            "de": "Kategorie",
            "en": "Collection",
            "es": "Colección",
            "fr": "Collection",
            "it": "Collezione",
            "ja": "コレクション",
            "pt-BR": "Coleção"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fr": "Page des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "pt-BR": "Lista de coleções"
      },
      "category": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      },
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
.collection-grid-item {
      display: contents;
  position: relative;
  overflow: hidden;
}

.collection-grid-item__wrapper {
  position: relative;
  height: 0;
  padding-bottom: 100%; /* This creates a square aspect ratio */
}

.collection-grid-item__image,
.collection-grid-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.collection-grid-item__title-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  text-align: center;
    justify-content: center;
    display: flex;
}

.collection-grid-item__title {
  color: #ffffff;
  margin: 0;
}

.collection-grid-item--no-image .collection-grid-item__bg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-grid-item--no-image .collection-grid-item__title-wrapper {
  position: static;
  background-color: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-grid-item--no-image .collection-grid-item__title {

  text-align: center;
}
</style>