<div class="password-page__main__inner" data-section-id="{{ section.id }}" data-section-type="password-content">
  {% unless section.settings.title == blank %}
    <h2 class="password-opening-soon h1">
      {{ section.settings.title | escape }}
    </h2>
  {% endunless %}

  <div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="section-{{ section.id }}-padding">
    
{% if section.settings.enable_timer %}
    
<div class="countdown-timer">
  <div class="timer-item">
    <span class="days"></span>
    <p>Days</p>
  </div>
  <div class="timer-item">
    <span class="hours"></span>
    <p>Hours</p>
  </div>
  <div class="timer-item">
    <span class="minutes"></span>
    <p>Minutes</p>
  </div>
  <div class="timer-item">
    <span class="seconds"></span>
    <p>Seconds</p>
  </div>
</div>

    <div class="text-ct">

    <h4> {{ section.settings.head1 }}</h4>

    <p>  {{ section.settings.text1 }} </p>
    </div>
    {% endif %}
    
  </div>
</div>

  <script>
function countdownTimer(endTime) {
  var timerInterval = setInterval(function() {
    var totalSeconds = Math.floor((endTime - new Date()) / 1000);

    if (totalSeconds <= 0) {
      clearInterval(timerInterval);
      totalSeconds = 0;
    }

    var days = Math.floor(totalSeconds / (60 * 60 * 24));
    var hours = Math.floor((totalSeconds / (60 * 60)) % 24);
    var minutes = Math.floor((totalSeconds / 60) % 60);
    var seconds = Math.floor(totalSeconds % 60);

    document.querySelector('.countdown-timer .days').innerHTML = days;
    document.querySelector('.countdown-timer .hours').innerHTML = hours;
    document.querySelector('.countdown-timer .minutes').innerHTML = minutes;
    document.querySelector('.countdown-timer .seconds').innerHTML = seconds;
  }, 1000);
}

var timerDate = '{{ section.settings.timer_date }}';
var endTime = new Date(timerDate.replace(/-/g, '/'));
countdownTimer(endTime);
</script>
  
<style>

  .text-ct {
    text-align: center;
  }

  

 .text-ct h4 {
    font-size:{{ section.settings.heading_text_size }}px !important;
  }
  
 .text-ct p {
    font-size:{{ section.settings.text_text_size }}px !important;
  }
  
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.timer-item {
  text-align: center;
  margin: 0 10px;
}

.timer-item span {
  display: block;
  font-size: {{ section.settings.timer_number_size }}px;
  font-weight: bold;
  color: {{ section.settings.timer_number_color }} !important;
}

.timer-item p {
  font-size: {{ section.settings.timer_text_size }}px;
  color: {{section.settings.timer_text_color}} !important;
  text-transform: uppercase;
  margin-top: 5px;
}

  @media screen and (min-width: 750px){
.banner--medium:not(.banner--adapt) {
    min-height: auto !important;
}
    .banner__content {
    padding: 0rem !important;
}
}
  @media screen and (max-width: 749px){
.banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: auto !important;
}
  }
</style>


  
  {% comment %}
    Password message which you can edit on /admin/online_store/preferences
  {% endcomment %}
  {% unless shop.password_message == blank %}
    <section class="password-message">
      {{ shop.password_message }}
    </section>
  {% endunless %}

  {% if section.settings.newsletter_enable %}
    <section class="password-signup">
      {% form 'customer' %}
        {% if form.posted_successfully? %}
          <div class="form--success">
            {{ 'general.password_page.signup_form_success' | t }}
          </div>
        {% else %}
          <h2 class="section-heading small--text-center">
            {{ section.settings.newsletter_form_heading | escape }}
          </h2>
          {% unless section.settings.newsletter_form_subheading == blank %}
            <div class="rte">{{ section.settings.newsletter_form_subheading }}</div>
          {% endunless %}
          {{ form.errors | default_errors }}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <div class="input-group">
            <label for="Email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
            <input type="email" name="contact[email]" id="Email" placeholder="{{ section.settings.newsletter_placeholder | escape }}" class="input-group__field">
            <div class="input-group__btn">
              <button type="submit"class="btn">
                {{ section.settings.newsletter_button_text | escape }}
              </button>
            </div>
          </div>
        {% endif %}
      {% endform %}
    </section>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}
  {% if section.settings.show_share_buttons %}
    <section class="password-social-sharing">
      <h3 class="section-heading">{{ section.settings.social_message | escape }}</h3>
      {% include 'social-sharing', share_title: shop.name %}
    </section>
  {% endif %}

  <section class="password-login">
    <a href="#LoginModal" class="password-login-toggle" data-mfp-src="#LoginModal">
      {% include 'icon-lock' %}
       {{ section.settings.enter_pass_text }}
    </a>
  </section>

   {% if section.settings.show_pw_social %}
        <ul class="list--inline social-links">
        {% if settings.social_facebook_link != blank %}
          <li>
            <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
              {% include 'icon-facebook' %}
              <span class="icon__fallback-text">Facebook</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_twitter_link != blank %}
          <li>
            <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
              {% include 'icon-twitter' %}
              <span class="icon__fallback-text">Twitter</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
          <li>
            <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
              {% include 'icon-pinterest' %}
              <span class="icon__fallback-text">Pinterest</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
          <li>
            <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
              {% include 'icon-instagram' %}
              <span class="icon__fallback-text">Instagram</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_snapchat_link != blank %}
          <li>
            <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
              {% include 'icon-snapchat' %}
              <span class="icon__fallback-text">Snapchat</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_google_plus_link != blank %}
          <li>
            <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
              {% include 'icon-google-plus' %}
              <span class="icon__fallback-text">Google Plus</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
          <li>
            <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
              {% include 'icon-tumblr' %}
              <span class="icon__fallback-text">Tumblr</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
          <li>
            <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
              {% include 'icon-youtube' %}
              <span class="icon__fallback-text">YouTube</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_tiktok_link != blank %}
          <li>
            <a href="{{ settings.social_tiktok_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tiktok' }}">
              {% include 'icon-tiktok' %}
              <span class="icon__fallback-text">Tiktok</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
          <li>
            <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
              {% include 'icon-vimeo' %}
              <span class="icon__fallback-text">Vimeo</span>
            </a>
          </li>
        {% endif %}
        {% if settings.social_fancy_link != blank %}
          <li>
            <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
              {% include 'icon-fancy' %}
              <span class="icon__fallback-text">Fancy</span>
            </a>
          </li>
        {% endif %}
         {% if settings.social_apple_link != blank %}
              <li>
                <a href="{{ settings.social_apple_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Apple Music' }}">
                  {% include 'icon-apple' %}
                  <span class="icon__fallback-text">Apple Music</span>
                </a>
              </li>
            {% endif %}
          {% if settings.social_spotify_link != blank %}
              <li>
                <a href="{{ settings.social_spotify_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Spotify' }}">
                  {% include 'icon-spotify' %}
                  <span class="icon__fallback-text">Spotify</span>
                </a>
              </li>
            {% endif %}
         {% if settings.social_soundcloud_link != blank %}
              <li>
                <a href="{{ settings.social_soundcloud_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Soundcloud' }}">
                  {% include 'icon-soundcloud' %}
                  <span class="icon__fallback-text">Soundcloud</span>
                </a>
              </li>
            {% endif %}
         {% if settings.social_tidal_link != blank %}
              <li>
                <a href="{{ settings.social_tidal_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tidal' }}">
                  {% include 'icon-tidal' %}
                  <span class="icon__fallback-text">Tidal</span>
                </a>
              </li>
            {% endif %}
         {% if settings.social_azmusic_link != blank %}
              <li>
                <a href="{{ settings.social_azmusic_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Amazon Music' }}">
                  {% include 'icon-azmusic' %}
                  <span class="icon__fallback-text">Amazon Music</span>
                </a>
              </li>
            {% endif %}
        {% if settings.social_ytmusic_link != blank %}
              <li>
                <a href="{{ settings.social_ytmusic_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Youtube Music' }}">
                  {% include 'icon-ytmusic' %}
                  <span class="icon__fallback-text">Youtube Music</span>
                </a>
              </li>
            {% endif %}
        {% if settings.main_blog != blank %}
          <li>
            <a href="/blogs/{{ settings.main_blog }}.atom">
              {% include 'icon-rss' %}
              <span class="icon__fallback-text">Blog</span>
            </a>
          </li>
        {% endif %}
      </ul>
   {% endif %}
  
</div>



{% schema %}
{
  "name": {
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fr": "Contenu",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "pt-BR": "Conteúdo"
  },
  "class": "password-page__main",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Eröffnet demnächst",
        "en": "Opening Soon",
        "es": "Apertura próximamente",
        "fr": "Ouverture prochaine",
        "it": "Prossima apertura",
        "ja": "間もなくオープンします",
        "pt-BR": "Abertura em breve"
      }
    },
      {
        "type": "text",
        "id": "enter_pass_text",
        "label": "Password Login Text",
       "info": "Change The Text Of The Password Login Button To Your Liking.",
        "default": "Enter Password"
      },
    {
      "type": "header",
      "content": {
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "メールマガジン",
        "pt-BR": "Newsletter"
      }
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "de": "Newsletter-Anmeldung anzeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fr": "Afficher l'inscription à la newsletter",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "メールマガジンの登録を表示する",
        "pt-BR": "Exibir assinatura da newsletter"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "de": "Überschrift für Newsletter-Formular",
        "en": "Newsletter form heading",
        "es": "Título del formulario de boletín",
        "fr": "Titre du formulaire de la newsletter",
        "it": "Titolo del modulo della newsletter",
        "ja": "メールマガジンフォームの見出し",
        "pt-BR": "Título do formulário da newsletter"
      },
      "default": {
        "de": "Erfahren Sie zuerst, wann unser Shop gelauncht wird.",
        "en": "Be the first to know when we launch",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "it": "Vieni a sapere per primo quando effettueremo il lancio",
        "ja": "私達が発売をする時に誰よりも早く知ってください",
        "pt-BR": "Seja o primeiro a saber quando lançarmos"
      },
      "info": {
        "de": "[Informieren Sie Ihre Besucher über einen Rabatt am Tag der Shop-Eröffnung](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "en": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "es": "[Informa a tus visitantes sobre un descuento del día de lanzamiento](https://es.shopify.com/blog/15567552-14-maneras-de-utilizar-las-ofertas-cupones-y-descuentos-para-generar-ganancias-y-lealtad-del-cliente).",
        "fr": "[Annoncez une réduction à vos visiteurs pour le jour du lancement](https://fr.shopify.com/blog/57222917-14-manieres-dutiliser-les-codes-promo-bons-de-reduction-coupons-et-remises-pour-generer-des-revenus-et-fideliser-les-clients).",
        "it": "[Informa i tuoi visitatori su uno sconto previsto il giorno del lancio](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty).",
        "ja": "[訪問者に発売日の割引について伝える](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)。",
        "pt-BR": "[Informe seus visitantes sobre um desconto de lançamento](https://pt.shopify.com/blog/aplicativos-de-desconto)."
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "de": "Untertitel für Newsletter-Formular",
        "en": "Newsletter form subheading",
        "es": "Subtítulo del formulario de boletín",
        "fr": "Sous-titre du formulaire de la newsletter",
        "it": "Sottotitolo del modulo della newsletter",
        "ja": "メールマガジンフォームの小見出し",
        "pt-BR": "Subtítulo do formulário da newsletter"
      },
      "default": {
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua inbox.</p>",
        "ja": "<p>プロモーション、新商品、セールについて、あなたの受信箱に直接知らせる。</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "de": "Platzhaltertext für Newsletter",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fr": "Texte du paramètre fictif de la newsletter",
        "it": "Testo del segnaposto della newsletter",
        "ja": "メールマガジンのプレースホルダテキスト",
        "pt-BR": "Texto do marcador de posição da newsletter"
      },
      "default": {
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fr": "Adresse e-mail",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "pt-BR": "E-mail"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "de": "Text für Newsletter-Schaltfläche",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fr": "Texte du bouton de la newsletter",
        "it": "Testo del pulsante newsletter",
        "ja": "メールマガジンボタンのテキスト",
        "pt-BR": "Texto do botão da newsletter"
      },
      "default": {
        "de": "Eingabe",
        "en": "Submit",
        "es": "Enviar",
        "fr": "Envoyer",
        "it": "Invia",
        "ja": "送信する",
        "pt-BR": "Enviar"
      }
    },
    {
      "type": "header",
      "info": "Enter Your Social Media Links In The [Theme Settings.](/editor?context=theme&category=social media)",
      "content": {
        "de": "Social Media",
        "en": "Social Media"
      }
      
    },
    {
      "type": "checkbox",
      "id": "show_pw_social",
      "label": {
     
        "en": "Show Social Icons"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        
        "en": "Countdown Timer"
      }
    },
      {
        "type": "checkbox",
        "id": "enable_timer",
        "label": "Enable Timer",
      "info": "Don't forget to turn off the password page when the timer ends",
        "default": false
    },
     {
      "type": "text",
      "id": "timer_date",
      "label": "Select the timer end date (yyyy-mm-dd hh:mm:ss)",
      "info": "For example: 2023-03-27 20:00:00 (Military Time Format)"
    },
    {
      "type": "color",
      "id": "timer_number_color",
      "label": "Select Color of Numbers",
      "default": "#ffffff"
    },
    {
        "type": "range",
        "id": "timer_number_size",
        "label": "Number Text Size",
        "min": 7,
        "max": 70,
        "step": 1,
        "unit": "px",
        "default": 40
    },
    {
      "type": "color",
      "id": "timer_text_color",
      "label": "Select Color of Text",
      "default": "#ffffff"
    },
    {
        "type": "range",
        "id": "timer_text_size",
        "label": "Description Text Size",
        "min": 7,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 14
    },
     {
        "type": "text",
        "id": "head1",
        "label": "Heading",
       "info": "Leave Blank To Display None.",
        "default": "Heading"
      },
     {
        "type": "range",
        "id": "heading_text_size",
        "label": "Heading Text Size",
        "min": 7,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 16
    },
    {
        "type": "text",
        "id": "text1",
        "label": "Text",
        "default": "Text"
      },
     {
        "type": "range",
        "id": "text_text_size",
        "label": "Text Size",
        "min": 7,
        "max": 40,
        "step": 1,
        "unit": "px",
        "default": 14
    }
  ]
}
{% endschema %}
