{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="section-{{ section.id }}-padding">
  <div class="content">
   
  </div>
</section>


{% schema %}
 {
  "name": "Spacer",
  "settings": [
    {
      "type": "paragraph",
      "content": "Use this spacer section to add space between sections to your liking."
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top Padding",
      "default": 40,
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Bottom Padding",
      "default": 40,
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px"
    }
  ],
    "presets": [
      {
        "name": "Spacer"
      }
    ]
}

{% endschema %}